extends ../../components/base
include ../../content/areas-of-application
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'areas_of_application')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')