extends ../../components/base
include ../../content/audits
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'Audits')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')