extends ../../components/base
include ../../content/charcoal-bag
include ../../components/header
include ../../components/footer

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')