extends ../../components/base
include ../../content/charcoal-bag
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'charcoal_bag')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')