extends ../../components/base
include ../../content/ethyl-acetate
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'ethyl_acetate')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')