extends ../../components/base
include ../../content/index
include ../../components/header
include ../../components/footer
include ../../components/title

block links
  link(rel='canonical' href='http://lxk.com.ua/')
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-157169906-1')
  script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-157169906-1');


block title
  +title('en', 'index')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')