extends ../../components/base
include ../../content/news_31_10_2023
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', '31_10_2023')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')