extends ../../components/base
include ../../content/news_29_10_2024
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', '29_10_2024')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')