extends ../../components/base
include ../../content/news_25_04_2025
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', '25_04_2025')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')