extends ../../components/base
include ../../content/our-benefits
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'our_benefits')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')