extends ../../components/base
include ../../content/private-label
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'private_label')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')