extends ../../components/base
include ../../content/production-process
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('en', 'production_process')

block header
  +header('en')

block content
  +content('en')

block footer
  +footer('en')