extends ../components/base
include ../content/first-index
include ../components/header
include ../components/footer
include ../components/title

block meta
  meta(name='google-site-verification' content='z-sAa7U8oepdKBNS2GMem3Lv3Fsrrw2basFthIj_bGc')
  meta(name='description' content='Timber, charcoal for grill, ethyl acetate, glue plant in Ukraine')

  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-157169906-1')
  script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-157169906-1');

block title
  +title('ua', 'index')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')