extends ../../components/base
include ../../content/charcoal-for-grilling
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', 'charcoal_for_grilling')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')