extends ../../components/base
include ../../content/index
include ../../components/header
include ../../components/footer
include ../../components/title

block links
  meta(name='description' content='Перечинский лесохимический комбинат (лесохимкомбинат, ПЛХК) - производитель угля, брикетов для гриля, Украина')
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-157169906-1')
  script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-157169906-1');


block title
  +title('ru')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')