extends ../../components/base
include ../../content/logistics
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', 'logistics')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')