extends ../../components/base
include ../../content/news_15_04_2020
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', '15-04-2020')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')