extends ../../components/base
include ../../content/news
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', 'Новости')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')