extends ../../components/base
include ../../content/our-certificates
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', 'our_certificates')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')