extends ../../components/base
include ../../content/production-process
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ru', 'production_process')

block header
  +header('ru')

block content
  +content('ru')

block footer
  +footer('ru')