extends ../../components/base
include ../../content/audits
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('de', 'Prüfung')

block header
  +header('de')

block content
  +content('de')

block footer
  +footer('de')