extends ../../components/base
include ../../content/briquettes
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('de', 'briquettes')

block header
  +header('de')

block content
  +content('de')

block footer
  +footer('de')