extends ../../components/base
include ../../content/charcoal-for-industry
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('de')

block header
  +header('de')

block content
  +content('de')

block footer
  +footer('de')