extends ../../components/base
include ../../content/private-label
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('de', 'private_label')

block header
  +header('de')

block content
  +content('de')

block footer
  +footer('de')