mixin footer(lang)
  -
    let texts = {
      en: {
        home: 'Home',
        factory: 'Factory',
        charcoal: 'Charcoal',
        ethyl: 'Ethyl Acetate',
        glue: 'Solutions for gluing',
        logistics: 'Logistics',
        purchasing: 'Purchasing',
        contacts: 'Contacts',
        address: "25, Uzhans'ka st., Perechin, Zakarpatska region, 89200, Ukraine",
      },
      de: {
        home: 'Hauptseite',
        factory: 'Unser werk',
        charcoal: 'Holzkohle',
        ethyl: '',
        glue: '',
        logistics: 'Logistik',
        purchasing: 'Einkauf/Umwelt',
        contacts: 'Kontaktinformation',
        address: "89200, Ukraine, Gebiet Transkarpatien, Stadt Peretschyn, Ushanska Str. 25",
      },
      fr: {
        home: 'La première',
        factory: 'Combinat',
        charcoal: 'Charbon',
        ethyl: '',
        glue: '',
        logistics: 'Logistique',
        purchasing: 'Environnement',
        contacts: 'Coordonnees',
        address: "25, rue Uzhanska, Peretchyn, région de Transcarpatie, Ukraine, 89200",
      },
      ua: {
        home: 'Головна',
        factory: 'Підприємство',
        news: 'Новини',
        charcoal: 'Деревне вугілля',
        ethyl: 'Етилацетат',
        glue: 'Рішення для склеювання',
        logistics: 'Логістика',
        purchasing: 'Сировина',
        contacts: 'Контакти',
        address: "89200, Україна, Закарпатська обл., м. Перечин, вул. Ужанська, 25",
      },
      ru: {
        home: 'Главная',
        factory: 'Предприятие',
        charcoal: 'Древесный уголь',
        ethyl: '',
        glue: '',
        logistics: 'Логистика',
        purchasing: 'Сырье',
        contacts: 'Контакты',
        address: "89200, Украина, Закарпатськая обл., г. Перечин, ул. Ужанськая, 25",
      }
    }

  footer
    table.css_footer_table
      thead
        tr
          td.css_footer_contacts.text-uppercase #{texts[lang].contacts}:
      tbody
        tr
          td.text-center
            i.fas.fa-map-marked-alt
            span
              | &#160;#{texts[lang].address}
        tr
          td.text-center
            i.fas.fa-phone
            span &#160;+38 (03145) 2-31-68, +38 (03145) 2-32-77
            br
            i.fas.fa-envelope.ml-3
            span &#160;sales@lxk.com.ua