mixin title(lang, page)
  -
    let title = {
      en: {
        areas_of_application: 'Areas of Application',
        briquettes: 'Charcoal Briquettes',
        charcoal: 'Charcoal',
        charcoal_bag: 'Charcoal',
        charcoal_for_grilling: 'Charcoal for grilling',
        charcoal_for_industry: 'Charcoal for industry',
        contacts: 'Contacts',
        customers: 'Customers',
        disposable_grills: 'Disposable grills',
        energy_efficiency: 'Energy efficiency',
        ethyl_acetate: 'Ethyl Acetate',
        ethyl_acetate_index: 'Ethyl Acetate',
        ethyl_acetate_specification: 'Ethyl Acetate specification',
        factory: 'Factory',
        formaldehyde: 'Formaldehyde resins',
        glue: 'Solutions for gluing',
        glue_customers: 'Our customers',
        glue_products: 'Glue products',
        history: 'History',
        index: 'Perechin timber and chemical plant',
        industry: 'Industry',
        logistics: 'Logistics',
        news: 'News',
        our_benefits: 'Our benefits',
        our_certificates: 'Our certificates',
        politics: 'Company politics',
        private_label: 'Private label',
        production_and_our_customers_location: 'Production and our customer\'s location',
        production_process: 'Production process',
        products: 'Products',
        purchasing: 'Purchasing',
        pva: 'PVAс dispersions',
        pvoh: 'PVOH dispersions',
        range_of_products: 'Range of products'
      },
      de: {
        areas_of_application: '',
        briquettes: 'Grillholzkohlebriketts',
        charcoal: 'Holzkohle',
        charcoal_bag: 'Grillholzkohle',
        charcoal_for_grilling: 'Grillholzkohleproduktion',
        charcoal_for_industry: 'Holzkohle für industrielle anwendungen',
        contacts: 'Kontakt',
        customers: 'Auftraggeber',
        disposable_grills: 'Einweggrills',
        energy_efficiency: 'Еnergieeffizienz',
        ethyl_acetate: '',
        ethyl_acetate_index: '',
        ethyl_acetate_specification: '',
        factory: 'Unser werk',
        formaldehyde: '',
        glue: '',
        glue_customers: '',
        glue_products: '',
        history: 'Geschichte',
        index: 'Peretschyn Forstchemisches Kombinat',
        industry: '',
        logistics: 'Logistik',
        news: '',
        our_benefits: '',
        our_certificates: 'Unsere Zertifikate',
        politics: '',
        private_label: 'Private handelsmarke',
        production_and_our_customers_location: '',
        production_process: 'Produktionsablauf',
        products: 'Produkte',
        purchasing: 'Einkauf/Umwelt',
        pva: '',
        pvoh: '',
        range_of_products: '',
      },
      fr: {
        areas_of_application: '',
        briquettes: 'Briquettes de charbon de bois',
        charcoal: 'Charbon de bois',
        charcoal_bag: 'Le charbon de bois',
        charcoal_for_grilling: 'Le charbon de bois pour la grille',
        charcoal_for_industry: 'Charbon de bois pour l`industrie',
        contacts: 'Coordonnees',
        customers: 'Clientèle',
        disposable_grills: 'Grilles a usage unique',
        energy_efficiency: 'Efficacité énergétique',
        ethyl_acetate: '',
        ethyl_acetate_index: '',
        ethyl_acetate_specification: '',
        factory: 'Combinat',
        formaldehyde: '',
        glue: '',
        glue_customers: '',
        glue_products: '',
        history: 'Histoire',
        index: 'Combinat Chimique De Transformation Du Bois Peretchyn',
        industry: '',
        logistics: 'Logistique',
        our_benefits: '',
        our_certificates: 'Nos certificats',
        news: '',
        politics: '',
        private_label: 'Marque privée',
        production_and_our_customers_location: '',
        production_process: 'Fabrication',
        products: 'Des produits',
        purchasing: 'Environnement',
        pva: '',
        pvoh: '',
        range_of_products: '',
      },
      ua: {
        areas_of_application: 'Сфери застосування етилацетату',
        briquettes: 'Деревновугільні брикети',
        charcoal: 'Деревне вугілля',
        charcoal_bag: 'Деревне вугілля',
        charcoal_for_grilling: 'Деревне вугілля для грилю',
        charcoal_for_industry: 'Вугілля для промисловості',
        contacts: 'Контакти',
        customers: 'Клієнти',
        disposable_grills: 'Одноразові грилі',
        energy_efficiency: 'Ефективне використання енергії',
        ethyl_acetate: 'Етилацетат',
        ethyl_acetate_index: 'Етилацетат',
        ethyl_acetate_specification: 'Технічні характеристики етилацетату',
        factory: 'Підприємство',
        formaldehyde: 'Формальдегідні смоли',
        glue: 'Рішення для склеювання',
        glue_customers: 'Наші клієнти',
        glue_products: 'Продукти для склеювання',
        history: 'Історія',
        index: 'Перечинський лісохімічний комбінат (ПЛХК)',
        industry: 'Сфери застосування нашої продукції',
        logistics: 'Логістика',
        news: 'Новини',
        our_benefits: 'Наші переваги',
        our_certificates: 'Наші сертифікати',
        politics: 'Політики компанії',
        private_label: 'Власна торгова марка',
        production_and_our_customers_location: 'Місцезнаходження та географія поставки продукції',
        production_process: 'Виробничий процес',
        products: 'Продукція',
        purchasing: 'Сировина',
        pva: 'ПВА дисперсії',
        pvoh: 'Дисперсії PVOH',
        range_of_products: 'Асортимент продукції',
      },
      ru: {
        areas_of_application: '',
        briquettes: 'Угольные брикеты',
        charcoal: 'Древесный уголь',
        charcoal_bag: 'Древесный уголь',
        charcoal_for_grilling: 'Древесный уголь для гриля',
        charcoal_for_industry: 'Уголь для промышленности',
        contacts: 'Контакты',
        customers: 'Клиенты',
        disposable_grills: 'Одноразовый гриль',
        energy_efficiency: 'Эффективное использование энергии',
        ethyl_acetate: '',
        ethyl_acetate_index: '',
        ethyl_acetate_specification: '',
        factory: 'Предприятие',
        formaldehyde: '',
        glue: '',
        glue_customers: '',
        glue_products: '',
        history: 'История',
        index: 'Перечинский лесохимический комбинат (ПЛХК)',
        industry: '',
        logistics: 'Логистика',
        our_benefits: '',
        our_certificates: 'Наши сертификаты',
        news: 'Новости',
        politics: '',
        private_label: 'Собственная торговая марка',
        production_and_our_customers_location: '',
        production_process: 'Процесс производства',
        products: 'Продукция',
        purchasing: 'Сырье',
        pva: '',
        pvoh: '',
        range_of_products: '',
      },
    };

  title #{title[lang][page]}