mixin title(lang)
  -
    let title = {
      en: 'Perechin timber and chemical plant',
      de: 'Peretschyn Forstchemisches Kombinat',
      fr: 'Combinat Chimique De Transformation Du Bois Peretchyn',
      ua: 'Перечинський лісохімічний комбінат',
      ru: 'Перечинский лесохимический комбинат'
    };

  title #{title[lang]}