/*Page*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 99.6%;
  box-sizing: border-box;
  width:100%;
  padding:0;
  margin:0;
}

body {
  /*position: relative;*/
  /*margin: 0;*/
  /*background: #0b2e13;*/
  /*padding-bottom: 130px;*/
  /*min-height: 100%;*/
}

.css_body {
  /*background: #edebe6;*/
}

.container {
  background: white;
  padding-bottom: 0.1em;
  -webkit-box-shadow: 9px 9px 17px -6px rgba(0,0,0,0.54);
  -moz-box-shadow: 9px 9px 17px -6px rgba(0,0,0,0.54);
  box-shadow: 9px 9px 17px -6px rgba(0,0,0,0.54);
}

main {
  margin: 0 auto;
}

h2 {
  text-align: center;
}

h5 {
  text-align: center;
}

.css_index_href {
  text-align: center;
  border: #5cb85c solid 2px;
  padding: 2px;
  margin-bottom: 3px;
}

.css_index_href:hover {
  background: #dde1e5;
}

.css_href:hover {
  text-decoration: none;
}

.css_carousel {
  min-height: 200px;
}

.css_carousel_control {
  height: 200px;
}

/*Header*/
.css_header {
    top : 0;
    position: sticky;
}

.css_flag[href] img {
  -webkit-filter: opacity(75%); /* Safari 6.0 - 9.0 */
  filter: opacity(75%);
}

.css_flag[href] img:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

nav a, button.btn-link {
  color: black;
}

nav a:hover, button.btn-link:hover {
  text-decoration: none;
  color: #5cb85c;
}


/*Lists*/
ul {
  list-style: none;
}

li.check:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome, serif;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: #fd7e14;
}

li a {
  color: black;
}

li a:hover {
  text-decoration: none;
  color: #5cb85c;
}

/*Footer*/
footer {
  position: sticky;
  background: white;
  text-align: center;
  bottom: 0;
  padding-bottom: .5rem;
  padding-top: .5rem;
  /*box-shadow: 0 4px 2px -2px gray;*/
  box-shadow: 0 3px 0 0 grey inset;
}

.css_footer_contacts {
  font-size: 1.3em;
  /*color: white;*/
  text-align: center;
}

.css_footer_table {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5px;
}

.css_footer_table tr {
  align-content: center;
}

.css_footer_table tr td {
  /*color: white;*/
}

.css_footer_table_icon {
  width: 5vw;
  align-content: baseline;
}

/*Dropdown*/
.css_dropdown {
  position: relative;
  display: inline-block;
}

.css_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: max-content;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.css_dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.css_dropdown-content a:hover {background-color: #ddd;}

.css_dropdown:hover .css_dropdown-content {display: block;}


/*Form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #5cb85c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #5cb85c;
}

/* Add a background color and some padding around the form */
.css_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*Slideshow*/
.css_slideshow_text {
  min-height: 130px;
}