mixin content(lang)
  h2 Фінансова звітність
  h5 Звіт про фінансовий стан
  .mt-1
    object(data="../static/img/Звіт про фінансовий стан.pdf" type="application/pdf" width="100%" height="800")
      p Ваш браузер не підтримує відображення PDF файлів. Для перегляду Звіту про фінансовий стан завантажте його, будь ласка:
      div.mb-3
        a(href="../static/img/Звіт про фінансовий стан.pdf") Завантажити Звіт про фінансовий стан
  hr
  h5.mt-3 Звіт щодо аудиту фінансової звітності
  .my-3
    object(data="../static/img/Звіт щодо аудиту фінансової звітності.pdf" type="application/pdf" width="100%" height="800")
      p Ваш браузер не підтримує відображення PDF файлів. Для перегляду Звіту щодо аудиту фінансової звітності завантажте його, будь ласка:
      div.mb-3
        a(href="../static/img/Звіт про фінансовий стан.pdf") Завантажити Звіт щодо аудиту фінансової звітності
