include ../components/index_text

mixin content(lang)
  -
    let texts = {
      en: {
        charcoal: 'Charcoal',
        ethyl: 'Ethyl Acetate',
        glue: 'Solutions for gluing'
      },
      de: {
        charcoal: 'Holzkohle',
        ethyl: '',
        glue: ''
      },
      fr: {
        charcoal: 'Charbon',
        ethyl: '',
        glue: ''
      },
      ua: {
        charcoal: 'Деревне вугілля',
        ethyl: 'Етилацетат',
        glue: 'Рішення для склеювання',
      },
      ru: {
        charcoal: 'Древесный уголь',
        ethyl: '',
        glue: ''
      }
    };

  img.d-block.w-100.mb-2(
    src="../static/img/Baner_" + lang + "_1.jpg",
    alt="Title photo"
  )
  +index_text(lang)
