mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Who we are',
        list: [
          'One of the largest producers of resins in Ukraine',
          'About 20 years experience of resin production',
          'Production capacity – 55 000 tonns per year',
          'Wide range of gluing solutions',
        ]
      },
      ua: {
        title: 'Про нас',
        list: [
          'Один з найбільших виробників України',
          'Підприємство засноване у 1894 році ',
          'Потужність більше 55 000 тон на рік',
          'Широкий спектр клеїв та дисперсій',
        ]
      },
    };
    
  img.d-block.w-100.mb-4(
    src="../static/img/glue-who-we-are.jpg",
    alt="Who we are"
  )
  h2 #{texts[lang].title}
  .d-flex.mb-5
    ul.fa-ul
      each p in texts[lang].list
        li #{p}