mixin content(lang)

  if (lang === 'en')
    small.float-right 25.24.2025
    br
    h4.text-center 🌍 Exciting developments from the QUEEN Project!
    .text-center.my-3
      img.w-50(
        src="../static/img/news/250425-2.jpg",
        alt="report group photo"
      )
    p We’re proud to share that Nataliya Korol, representative of LLC Perechin Timber and Chemical Plant, delivered a report titled:
    p “Optimizing Binder Selection for Durable and Waterproof Charcoal Briquettes: Balancing Mechanical Strength and Water Resistance”
    p This contribution highlights our ongoing commitment to innovation in sustainable materials — perfectly aligned with the QUEEN Project's mission to develop an environmentally friendly process for producing metallurgical grade silicon (MG-Si) from quarry sands, reducing total CO₂ emissions.
    p With 14 partners from across Europe, the QUEEN Project aims to transform EU quarries into potential MG-Si reservoirs through advanced, adaptable technologies. 🚀
    p Stay tuned for more updates as we continue moving toward a cleaner, greener future!
    .text-center.my-3
        img.w-50(
            src="../static/img/news/250425-1.jpg",
            alt="report picture"
        )
    p #QUEENProject #Sustainability #GreenInnovation #SiliconProduction #MaterialsScience #CleanEnergy #CharcoalBriquettes #EUResearch #HorizonEurope #EnvironmentalTechnology
