mixin content
  hr
  div.row
    div.col-4
      img.w-100(
        src="../static/img/article.png",
        alt="Article"
      )
    div.col-8
      h5 Екологи спростовують забруднення стічних вод та повітря ТДВ “Перечинським лісохімічним комбінатом”
      div На численні прохання Перечинської громади, 6 грудня 2019 року в місто була запрошена незалежна лабораторія ПНВП “Екологія”. Нею було проведено відбори проб повітря для визначення концентрації забруднюючих речовин в приземному шарі атмосферного повітря у 5-ти точках м. Перечин по санітарно-захисній зоні лісохімічного комбінату.
      div.font-weight-bold Висновки однозначні – перевищення норм гранично допустимих концентрацій у жодній точці не виявлено.
      div.text-right
        a.font-italic(href="./news/news_20122019.html") Читати далі...
  hr