mixin content(lang)

  if (lang === 'ua')
    small.float-right 31.07.2020
    h5 Перечинський ЛХК підтверджує свою прихильність принципам і критеріям FSC
    img.w-100(
      src="../static/img/image.png",
      alt="news-photo"
    )
    p ТДВ «Перечинський лісохімічний комбінат» повідомляє всі зацікавлені сторони, в тому числі своїх партнерів про свою нетерпимість до корупції, незаконних вирубок лісу, і всіх видів незаконних дій, пов'язаних з рубками.
    p FSC запропонувало Перечинському ЛХК для відновлення сертифікації впровадити додаткові заходи контролю, та переглянути свою співпрацю з іншими суб’єктами ринку деревно-вугільної продукції.
    p Незважаючи на тривалий переговорний процес, наше підприємство повідомило FSC про свою готовність до підписання меморандуму порозуміння.
    p Водночас FSC визнало, що порядок розблокування сертифікації, з урахуванням зауважень Перечинського ЛХК, підлягає уточненню та додатковому вивченню командою FSC.
    p З метою прискорення процесу відновлення повноцінної співпраці, в адресу FSC були надіслані наші пропозиції, щодо процесу розблокування сертифікації, які повністю відповідають вимогам директиви FSC-DIR-40-004.
    p Перечинський ЛХК підтвердив свою відкритість для аудитів, в тому числі зверненням до акредитованого ASI сертифікаційного органу про проведення аудиту відповідності діяльності підприємства стандартам FSC, який заплановано на серпень 2020 року.
    p FSC підтвердило свою обізнаність про подачу нашим підприємством відповідної заявки.
    p Перечинський ЛХК висловлює свою стурбованість з приводу збільшення числа звинувачень проти системи FSC в Україні.
    p Маємо надію, що ці звинувачення безпідставні, а зволікання FSC з наданням чіткого алгоритму розблокування сертифікації нашого підприємства з цим не пов’язано.
    p В непростий для України час, особливо назріла потреба у системних змінах у лісовій галузі, у тому числі за допомогою міжнародних систем лісової сертифікації.
    p Ми не втрачаємо надію, що FSC знайде ресурси для завершення процедури розблокування сертифікації, деталізує свої пропозиції, зробивши їх прозорими та дієвими.

  if (lang === 'en')
    small.float-right 31.07.2020
    h5 ALC “Perechin Timber and Chemical Plant” confirms its commitment to FSC principles and criteria
    img.w-100(
      src="../static/img/image1.png",
      alt="news-photo"
    )
    p ALC “Perechin Timber and Chemical Plant” informs all stakeholders, including its partners about its intolerance to corruption, illegal deforestation, and all types of illegal actions related to logging.
    p FSC suggested that Perechin TCP should introduce additional control measures to restore certification, and to review its cooperation with other entities in the charcoal market.
    p Despite the long negotiation process, our Plant informed FSC that it is ready to sign a Memorandum of Understanding.
    p At the same time, the FSC acknowledged that the procedure for unblocking certification, taking into account the comments of Perechin TCP, is subject to clarification and further study by the FSC team.
    p In order to speed up the process of restoring full-fledged cooperation, our proposals regarding the process of unblocking certification which fully meet the requirements of the FSC-DIR-40-004 Directive were sent to FSC.
    p Perechin TCP confirmed its openness to audits, and even asked the ASI-accredited certification body to conduct an audit of the Plant's compliance with FSC standards, which is scheduled for August 2020.
    p FSC has confirmed its awareness that our Plant has submitted an application.
    p Perechin TCP is concerned about the increase in allegations against the FSC system in Ukraine.
    p We hope that these allegations are groundless, and the FSC's delay in providing a clear algorithm for unlocking the certification of our Plant is not related to this.
    p In a difficult time for Ukraine, there is a particularly urgent need for systemic changes in the forest industry, including through international forest certification systems.
    p We do not lose hope that FSC will find the resources to complete the procedure of unblocking certification, and will detail its proposals, making them transparent and effective.
