mixin content(lang)

  if (lang === 'ua')
    small.float-right 29.10.2024
    br
    h4.text-center.mb0 Команда ТОВ «Перечинський лісохімічний комбінат» бере участь у проекті QUEEN
    h4.text-center.mt0 разом із 13 партнерами з 8 країн!
    .text-center.my-3
      img.w-50(
        src="../static/img/news/queen.png",
        alt="queen logo"
      )
    p Проект QUEEN із сильним консорціумом учасників із восьми країн вирішує серйозну проблему – сильна залежність ЄС від зовнішніх джерел критичної сировини, особливо металургійного кремнію (MG-Si). Наразі понад 80% MG-Si, життєво необхідного для застосування у сфері високих технологій і амбіцій ЄС щодо сталого розвитку, імпортується переважно з Китаю. QUEEN має на меті використовувати недостатньо використаний ресурс; кварцовий пісок із європейських кар’єрів, щоб виробляти MG-Si всередині країни екологічним та ефективним способом. Унікальний підхід поєднує в собі видобуток і очищення сировини з акцентом на навколишнє середовище, використовуючи відходи в процесі. Передбачається, що ця стратегія зміцнить виробничі потужності MG-Si в ЄС, сприятиме інноваціям у певному секторі та просуватиме екологічні практики. Загальною метою проекту QUEEN є створення екологічно чистого процесу виробництва металургійного кремнію (MG-Si) з кар’єрних пісків із майже нульовими викидами CO2. Цей трансформаційний підхід може перетворити будь-який кварцовий кар’єр ЄС на потенційне резервуар MG-Si.
    p Крім того, розроблені технології можуть бути адаптовані до інших матеріалів. Технічною метою є розробка нового процесу мінералогічної сепарації на основі флотації для видобутку кар’єрних пісків. Ця мета спрямована на створення більш ефективного та екологічнішого альтернативного процесу рафінування високочистого кварцу та калієвого польового шпату. QUEEN має на меті покрити 56% попиту на MG-Si в ЄС до 2032 року, відновивши понад 300 млн. тонн MG-Si з пісків, а також зменшивши викиди СО2 приблизно на 232 000 Мт завдяки заміні вугілля більш чистими матеріалами. Таким чином, QUEEN прагне підтримувати стратегічну автономію та сталість ЄС, віддзеркалюючи його екологічні амбіції.
    p Назва проекту: Quartz Enrichment Enabling Near-Zero Silicon Production
    p
      i Дата початку проекту: 1 листопада 2024 року
    p
      i Дата завершення проекту: 31 жовтня 2028 року


  if (lang === 'en')
    small.float-right 29.10.2024
    br
    h4.text-center.mb0 The team of LLC “Perechin Timber and Chemical Plant” is taking part in the QUEEN project
    h4.text-center.mt0 along with the 13 other partners from 8 countries!
    .text-center.my-3
      img.w-50(
          src="../static/img/news/queen.png",
          alt="queen logo"
      )
    p The QUEEN project, with its strong consortium of participants from eight countries, addresses a significant challenge - EU's heavy reliance on external sources for critical raw materials, especially metallurgical silicon (MG-Si). Currently, over 80% of MG-Si, vital for high-tech applications and EU's sustainability ambitions, is imported mainly from China. QUEEN aims to exploit an underutilized resource; quartz sand from European quarries, to domestically produce MG-Si in a sustainable and efficient way. The unique approach combines raw material extraction and refinement with an environmental focus, leveraging waste materials in the process. This strategy is projected to bolster EU's MG-Si production capacity, foster sector-specific innovation, and advance eco-friendly practices. The QUEEN project's overall objective is to create an environmentally friendly process for producing metallurgical silicon (MG-Si) from quarry sands, with near-zero CO2 emissions. This transformational approach could turn any EU quartz quarry into a potential MG-Si reservoir.
    p Moreover, the technologies developed could be adapted to other materials. The technical objective is to devise a new mineralogical separation process based on flotation for quarry sands extraction. This objective aims to pioneer a more effective and greener alternative process for refining high-purity quartz and Potassium Feldspars. Comprising R&D and industry stakeholders from mineral separation and MG-Si refinement fields, the project plans pilot tests at TRL 7. QUEEN aims to cover 56% of MG-Si EU demand by 2032 by recovering more than 300Mt MG-Si from sands, alongside saving about 232,000 Mt CO2 by substituting coal with cleaner materials. Like this, QUEEN aims to support the EU strategic autonomy and sustainability, mirroring its green ambitions.
    p
      i Project name: Quartz Enrichment Enabling Near-Zero Silicon Production
    p
      i Project starting date: 1 November 2024

