mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Our certificates',
      },
      ua: {
        title: 'Наші сертифікати',
      },
      de: {
        title: 'Unsere Zertifikate',
      },
      fr: {
        title: 'Nos certificats',
      },
      ru: {
        title: 'Наши сертификаты',
      }
    };

  h2 #{texts[lang].title}
  .text-center
    img(src="../static/img/ISO-certificate.jpg", alt="")
  //.row.mt-4
    //.col-6.text-center
      //img.mx-auto(src="../static/img/our-certificates-1.jpg", alt="")
    //.col-6.text-center
    //  img.mx-auto(src="../static/img/our-certificates-2.jpg", alt="")