mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Our certificates',
      },
      ua: {
        title: 'Наші сертифікати',
      },
      de: {
        title: 'Unsere Zertifikate',
      },
      fr: {
        title: 'Nos certificats',
      },
      ru: {
        title: 'Наши сертификаты',
      }
    };

  h2 #{texts[lang].title}
  .row.my-3
    .col-4
      a.text-center(href='../static/img/PEFC-sertificate.jpg' target='_blank')
        img.w-100.border.border-dark(src='../static/img/PEFC-sertificate.jpg' alt='PEFC')
    .col-4
      if (lang === 'ua')
        .text-center
          object(data="../static/img/CT-ISO_9001-2015_UKR_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="100%" height="100%")
            p Ваш браузер не підтримує відображення PDF файлів. Для перегляду сертифікату PEFC завантажте його, будь ласка:
            div.mb-3
              a(href="../static/img/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf") Завантажити сертифікат ISO
      if (lang === 'ru')
        .text-center
          object(data="../static/img/CT-ISO_9001-2015_RUS_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="100%" height="100%")
            p Ваш браузер не поддерживает отображение PDF файлов. Для просмотра сертифіката PEFC загрузите его, пожалуйста:
            div.mb-3
              a(href="../static/img/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf") Загрузить сертификат ISO
      if (lang === 'en' || lang === 'de' || lang === 'fr')
        .text-center
          object(data="../static/img/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf" type="application/pdf" width="100%" height="100%")
            p This browser does not support PDFs Please download the PDF to view it:
            div.mb-3
              a(href="../static/img/CT-ISO_9001-2015_ENG_ALC_Perechin_Timber__Chemical_Plant.pdf") Download ISO Sertificate
    .col-4
      a.text-center(href='../static/img/KOSHER-CERTIFICATE.jpg' target='_blank')
        img.w-100.border.border-dark(src='../static/img/KOSHER-CERTIFICATE.jpg' alt='KOSHER')