mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Products',
        formaldehyde: 'Formaldehyde resins',
        pva: 'PVAс dispersions',
        pvoh: 'PVOH dispersions',
      },
      ua: {
        title: 'Продукти',
        formaldehyde: 'Формальдегідні смоли',
        pva: 'ПВА дисперсії',
        pvoh: 'Дисперсії PVOH',
      }
    };
    
  h2 #{texts[lang].title}
  .row
    .col-12.col-md-4
      .css_index_href.mt-2
        a.css_href(href="../" + lang + "/formaldehyde.html")
          img.w-100(src='../static/img/formaldehyde.jpg' alt='formaldehyde')
          .text-success #{texts[lang].formaldehyde}
    .col-12.col-md-3
      .css_index_href.mt-2
        a.css_href(href="../" + lang + "/pva.html")
          img.w-100(src='../static/img/pva.jpg' alt='pva')
          .text-success #{texts[lang].pva}
    .col-12.col-md-3
      .css_index_href.mt-2
        a.css_href(href="../" + lang + "/pvoh.html")
          img.w-100(src='../static/img/pvoh.jpg' alt='pvoh')
          .text-success #{texts[lang].pvoh}