mixin content(lang)
  -
    let texts = {
      en: {
        production_process: 'PRODUCTION PROCESS'
      },
      de: {
        production_process: 'PRODUKTIONSABLAUF'
      },
      fr: {
        production_process: 'FABRICATION'
      },
      ua: {
        production_process: 'ВИРОБНИЧИЙ ПРОЦЕСС'
      },
      ru: {
        production_process: 'ПРОЦЕСС ПРОИЗВОДСТВА'
      }
    };
    
  h2.mt-4 #{texts[lang].production_process}
  img.w-100(src='../static/img/1-2_Production-process.jpg' alt='Production process')

