mixin content(lang)
  -
    let texts = {
      en: {
        title: 'Production and our customer’s location\n',
      },
      ua: {
        title: 'Місцезнаходження та геграфія поставки продукції\n',
      }
    };

  h2 #{texts[lang].title}
  img.w-100(src="../static/img/production-and-our-customers-location.jpg", alt="")