extends ../../components/base
include ../../content/areas-of-application
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'areas_of_application')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')