extends ../../components/base
include ../../content/charcoal-for-industry
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'charcoal_for_industry')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')