extends ../../components/base
include ../../content/contacts
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'contacts')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')