extends ../../components/base
include ../../content/disposable-grills
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'disposable_grills')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')