extends ../../components/base
include ../../content/ethyl-acetate-specification
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'ethyl_acetate_specification')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')