extends ../../components/base
include ../../content/financial-statements
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'financial_statements')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')