extends ../../components/base
include ../../content/glue-who-we-are
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')