extends ../../components/base
include ../../content/glue-products
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'glue_products')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')