extends ../../components/base
include ../../components/header
include ../../components/footer
include ../../content/index
include ../../components/title

block links
  meta(name='description' content='Перечинський лісохімічний комбінат (ПЛХК) - виробник вугілля, брикетів для грилю, одноразових мангалів, етилацетату, клеєвих сумішів, Україна')
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-157169906-1')
  script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-157169906-1');
  script(type="application/ld+json").
    "url": "http://www.lxk.com.ua/ua/index.html",
    "logo": "http://www.example.com/static/img/logo.png"

block title
  +title('ua', 'index')

block header
  +header('ua')


block content
  +content('ua')

block footer
  +footer('ua')