extends ../../components/base
include ../../content/news_31_07_2020
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', '31_07_2020')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')