extends ../../components/base
include ../../content/news
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua')

block header
  +header('ua')

block content
  +content

block footer
  +footer('ua')