extends ../../components/base
include ../../content/news_11_02_2022
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', '11_02_2022')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')