extends ../../components/base
include ../../content/news_20_12_2019
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', '20-12-2019')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')