extends ../../components/base
include ../../content/politics
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'politics')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')