extends ../../components/base
include ../../content/private-label
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'private_label')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')