extends ../../components/base
include ../../content/production-and-our-customers-location
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'production_and_our_customers_location')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')