extends ../../components/base
include ../../content/production-process
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('ua', 'production_process')

block header
  +header('ua')

block content
  +content('ua')

block footer
  +footer('ua')