extends ../../components/base
include ../../content/charcoal-for-grilling
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('fr', 'charcoal_for_grilling')

block header
  +header('fr')

block content
  +content('fr')

block footer
  +footer('fr')