extends ../../components/base
include ../../content/contacts
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('fr', 'contacts')

block header
  +header('fr')

block content
  +content('fr')

block footer
  +footer('fr')