extends ../../components/base
include ../../content/our-certificates
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('fr', 'our_certificates')

block header
  +header('fr')

block content
  +content('fr')

block footer
  +footer('fr')