extends ../../components/base
include ../../content/production-process
include ../../components/header
include ../../components/footer
include ../../components/title

block title
  +title('fr', 'production_process')

block header
  +header('fr')

block content
  +content('fr')

block footer
  +footer('fr')